/* Contenedor General */
.container {
    max-width: 800px;
    margin: auto;
    padding: 50px; /* Ajuste de padding para mayor espacio */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título Principal */
.main-title {
    text-align: center;
    color: #2d3748;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px; /* Espacio adicional bajo el título */
}

/* Tabla de Usuarios */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 16px;
    color: #4a5568;
}

.user-table th, .user-table td {
    padding: 15px; /* Mayor padding para distribución uniforme */
    border: 1px solid #e2e8f0;
    text-align: left;
}

.user-table th {
    background-color: #4a5568;
    color: #ffffff;
    font-weight: 600;
}

.user-table tr:nth-child(even) {
    background-color: #f7fafc;
}

.user-table tr:hover {
    background-color: #edf2f7;
}

/* Enlaces de Acción */
.edit-link, .delete-link, .add-user {
    color: #3182ce;
    text-decoration: none;
    padding: 8px 10px; /* Ajuste de padding para botones */
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.edit-link:hover {
    background-color: #ebf8ff;
    color: #2b6cb0;
}

.delete-link:hover {
    background-color: #fee2e2;
    color: #c53030;
}

.add-user {
    display: inline-block;
    background-color: #38a169;
    color: #ffffff;
    padding: 8px 10px; /* Padding más amplio para el botón de agregar */
    margin-top: 15px;
    font-weight: 600;
    text-align: center;
}

.add-user:hover {
    background-color: #2f855a;
}

/* Botones de Acción */
.actualizar, .cancel {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px; /* Padding uniforme para botones de acción */
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    width: auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

.actualizar {
    background-color: #2b6cb0;
    margin-right: 10px;
}

.actualizar:hover {
    background-color: #2c5282;

}

.cancel {
    background-color: #e53e3e;
    margin-left: 10px;
}

.cancel:hover {
    background-color: #c53030;
}
.form-group {
    padding: 15px;
    text-align: center;
}
.form-actions{
    text-align: center;
    padding: 10px;
}
